# Batasi berkas lingkungan dan rahasia
backend/.env
.env

# Batasi Virtual Environment Python
backend/venv/
venv/

# Batasi berkas sampah Python & cache
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/.pytest_cache/

# Batasi berkas pengaturan VS Code lokal
.vscode/
.DS_Store
# Backup UI Lama
UI-NEW.zip
temp_ui/
frontend_old/
